*{
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.containerOfAll{
    display: grid;
    background-color: #0C1821;
    height: 577pt;
}
div .logo{
    text-align: center;
}
img{
    height: 70pt;
    margin: 10pt;
    border-radius: 10%;
}
body{
    background-color: #0C1821;
}
/*TOP PART*/


/*CONTAINERS*/
.subjectsContainer{
    display: grid;
    grid-template-columns: 15% 85%;
}
.navSubject{
    background-color: #324A5F;
}
.implementContainer{
    background-color: #0C1821;
    
}
.implementContainer h5, p{
    color: white;
}
.navtab button{
    background-color: goldenrod;
    border: none;
    margin-right: 1pt;
    margin-top: 30pt;
    height: 20pt;
    box-shadow: -1pt -1pt 15pt 1pt
}
main{
    background-color: burlywood;
    width: 95.9%;
    border-bottom-right-radius: 10pt;
    box-shadow: 10px 20px 20px;
}

/*DISPLAYS*/
.navSubject ul{
    margin: 10pt;
    padding: 5pt;
    text-align: center;
}
.selectSub{
    text-align: center;
}
.navSubject .selectSub select{
    text-align: center;
    border-radius: 10pt;
}
.selectSub button{
    border-style: none;
    border-radius: 10pt;
}
.selectSub button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px;
    background-color: goldenrod;
}
.selectSub select:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px;
}
.navSubject .subList button{
    display: none;
    background-color: white;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 5pt;
    margin: 5pt;
    padding: 3pt;
}
.navSubject ul button{
    border-style: none;
    padding-inline: 35pt;
    border-radius: 10pt;
}
.navSubject ul button:hover{ /*the ADD button*/
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px;
    background-color: goldenrod;
}

.navtab {
    display: grid;
    grid-template-columns: 32% 32% 32%;
}
.navtab button{
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
}

/*FONT STYLES*/
li{
    list-style-type: none;
}
header{
    text-align: center;
    background-color: #324A5F;
    padding-top: 20pt;
}

.tabcontent{
  display: none;
  text-align: center;
  height: 150pt;
}

.navtab button:hover {
    cursor: pointer;
    background-color: burlywood;
    }

/*MAIN nani dire dapit*/
